<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Factory_Tracking"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".StartShiftActivity"
            android:exported="false"/>

        <activity
            android:name=".ScanActivity"
            android:exported="false"/>

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".IdleTimeReportActivity"
            android:exported="false"/>

        <activity
            android:name=".SupervisorsActivity"
            android:exported="false"/>

        <service
            android:name=".ScannerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.view.accessibility.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.view.accessibility.AccessibilityService"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".OperatorLoginActivity"
            android:exported="true" />

        <activity
            android:name=".OperatorDashboardActivity"
            android:exported="false" />

    </application>

</manifest>
